/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 100%;
  --color-black: #232324;
  --color-green: #0a5a2e;
  --color-light-green: #0c6333e3;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(236, 252, 238);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: var(--color-black);
}

section {
  margin-top: 5rem;
  padding: 1rem;
}

.section-title {
  margin: 1rem 0;
}

.section-text {
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

.link {
  font-weight: bold;
  color: var(--color-green);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--color-light-green);
}

.blue {
  color: rgb(57, 57, 94);
}

.blue:hover,
.blue:focus,
.blue:active {
  color: rgb(92, 92, 151);
}

.btn,
.btn:active {
  display: block;
  color: whitesmoke;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--color-green);
  border: 1px solid #1664be00;
  border-radius: 4px;
  margin: 1rem 0;
  padding: 0.5rem;
  cursor: pointer;
  width: 10rem;
  outline: 0;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-light-green);
  color: whitesmoke;
}

.btn:focus {
  box-shadow: 0 0 0 0.15rem var(--color-light-green);
}

/* || NAVIGTION */
.nav-title {
  color: whitesmoke;
  padding: 0.75rem;
}
.second {
  display: none;
}
.nav-line {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 3rem;
  display: flex;
  background-color: var(--color-green);
  -webkit-box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
  z-index: 100;
}
.nav-line span {
  color: whitesmoke;
}

#hamburger {
  margin: 0.25rem;
  padding: 0.25rem;
  background-color: var(--color-green);
  font-size: 1.5rem;
  color: whitesmoke;
  cursor: pointer;
  outline: none;
  border: none;
}

#ham:focus-visible {
  outline: 2px solid var(--color-black);
}

.nav {
  padding: 0 5rem;
  position: fixed;
  top: 3rem;
  width: 100vw;
  height: fit-content;
  background: var(--color-light-green);
  border-bottom: 3px solid #ebe2cc;
  transform: translateY(-130%);
  transition: transform 0.2s ease;
  z-index: 99;
}

.showNav {
  transform: translateY(0);
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0.75rem 0;
  list-style: none;
}

.nav-link a {
  display: block;
  margin-top: 1rem;
  font-size: 1.25rem;
  color: whitesmoke;
  text-decoration: none;
}

.nav-link a:hover {
  opacity: 0.7;
}

.nav-link a:focus-visible {
  outline: 2px solid var(--color-black);
}

.nav-link a:active {
  outline: none;
}

label {
  padding-bottom: 0.5rem;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #351f1f;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #d4e0e0;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #bbd4d4;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* || FORM */
.form {
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.select {
  height: 1.75rem;
  width: 14rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
/* || PERSON */
.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.person {
  width: 14rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(200, 202, 202);
  background-color: rgb(237, 243, 239);
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
}
.person p {
  padding-bottom: 0.5rem;
}
.property {
  font-weight: bold;
}

/* || ERROR */

.error {
  text-align: center;
}

.error-statement {
  margin: 1rem 0;
  text-transform: uppercase;
}
.n404 {
  font-size: 2rem;
}

/* || MEDIA */

@media (min-width: 22.5em) {
  /* || PERSON*/
  .person {
    width: 18rem;
  }
}

@media (min-width: 31em) {
  /* || PERSON*/
  .person {
    width: 26rem;
  }
}

@media (min-width: 43.75em) {
  /* || GENERAL STYLES*/

  section {
    margin: 5rem 6rem 2rem;
  }

  /* || NAVIAGTION */

  .nav-line {
    display: none;
  }

  .nav {
    transform: translateY(0%);
    top: 0rem;
    left: 0rem;
    width: 100%;
    background: var(--color-green);
    border-bottom: none;
    -webkit-box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
    z-index: 101;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-title {
    width: 15rem;
    padding: 0;
  }
  .second {
    display: inline;
  }
  .nav-list {
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 0.5rem;
  }

  .nav-link a {
    margin: 0 1rem;
    color: whitesmoke;
  }

  /* || FORM */

  .select {
    width: 18rem;
  }

  /* || PERSON*/

  .person {
    width: 34rem;
  }

  /* || ERROR */

  .error {
    margin: 5rem 10rem 2rem;
  }
}
